<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>

    {% load static %}
    <!-----favicon-->
    <link rel="icon" href="{% static 'images/logo/fake-news.png' %}">
     <!-----connecting css-->
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
 
</head>
<body>
    {% block header  %}

    {% endblock %}

    {% block body  %}

    {% endblock %}

    
</body>
</html>